*

!.editorconfig
!.gitignore
!.prettierrc.js
!.versionrc
!.vscode
!.vscode/*
!CHANGELOG.md
!Makefile
!README.md
!.changeset
!.changeset/*
!index.js
!package.json
!packages
!packages/*
!pnpm-lock.yaml
!pnpm-workspace.yaml